@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Rubik, Verdana, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // background-image: url('https://images.unsplash.com/reserve/unsplash_524010c76b52a_1.JPG?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjIzOTg1fQ&s=5e9e9726d1ddcc3749376b15936b1530');
  background-size: cover;
  background-position: center center;
  
}

.row {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.top, .middle, .bottom {
  margin: 0;
  flex: 1;
}

.top {
  min-height: 9vh;
  height: 8vh;
}

.middle {
  height: 82vh;
}

.bottom {
  height: 9vh;
  min-height: 9vh;
  flex-shrink: 0;
}

.center {
  min-width: 50vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.center .time {
  font-size: 145px;
  text-shadow: 1px 1px 6px #898989;

}

.center .greeting {
  text-shadow: 1px 1px 6px #898989;
  font-size: 45px;
}

.bottom h3 {
  font-weight: 400;
  padding: 0 15px;
}

.bottom .left {
  position: relative;
}

.bottom .unsplash-copy {
	padding: 10px;
	margin: auto;
	font-size: 10px;
  font-weight: 300;
  position: absolute;
  bottom: 0px;
  left: 0px; 
}

.bottom .unsplash-copy a {
	color: white;
	font-weight: 500;
}

.top .weather-city {
  text-align: right;
  padding: 0 25px;
}

.top .weather-info {
  display: flex;
  justify-content: flex-end;
  margin: 0 70px;
}


.top .weather-icon, 
.top .weather-temperature {
  color: white;
	height: 100%;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px #898989;
  padding: 0.6em 0 0 0;
}

.top .weather-temperature {
  padding-top: 0;
}

.bottom .created-by {
  position: absolute;
  bottom: 10px;
  right: 0px;
	font-size: 0.7em;
	text-align: right;
	padding: 0 2em;
  font-weight: 300;
}

.bottom a {
  font-weight: 700;
  text-decoration: none;
}

.created-by img {
  height: 15px;
}